[Unit]
Description=linux-agents listen server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{USER}}
WorkingDirectory={{WORKING_DIRECTORY}}
Environment=DISPLAY=:0
ExecStart={{PYTHON_VENV}} {{WORKING_DIRECTORY}}/apps/listen/main.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
