[Unit]
Description=rpi-job server
After=network.target

[Service]
Type=simple
User={{USER}}
WorkingDirectory={{WORKING_DIRECTORY}}
ExecStart={{PYTHON_VENV}} {{WORKING_DIRECTORY}}/rpi-job/rpi_job/main.py
Restart=always

[Install]
WantedBy=multi-user.target
